

<form action="/answer">
  <!-- <input type="text" name="question"> -->
  <input class="form-control" type="text" name="question">
  <button type="button" class="btn btn-primary btn-lg btn-block">ASK!</button>
</form>

